.row {
    margin-right: 0px;
    margin-left: 0px;
}

@media only screen and (min-width: 1200px) {
    .col-lg-8 {
        width: 50%;
    }
    .col-lg-2 {
        width: 25%;
    }
}

p {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 1rem;
}

.mb-5:hover {
    color: #ec1944;
    font-weight: bold;
}