body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

html,
body {
    font-size: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background: #FFFFFF;
}


/*-- banner --*/

.banner {
    background: url(../images/6.jpg) no-repeat 0px 0;
    background-size: cover;
    padding: 1em 0 5em;
}

.agile-logo {
    width: 25%;
}

.agile-logo h1 {
    margin: 0;
}

.agile-logo h1 a {
    color: #FFFfff;
    font-size: .4em;
    letter-spacing: 12px;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
}

.agile-logo h1 a span {
    display: block;
    font-size: 2em !important;
    font-weight: 700;
    letter-spacing: 6px;
}

.w3l-banner-grids {
    margin: 4em 0 0 0;
    padding: 2em 1em;
    background: rgba(255, 255, 255, 0.18);
}

.w3ls-banner-right {
    float: right;
}

.w3ls-banner-left {
    float: left;
}

.w3ls-banner-left-info {
    padding: 1em 0;
    border-bottom: 1px dashed #fff;
}

.w3ls-banner-left-info h4,
.social-info h4 {
    font-size: 1.2em;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.w3ls-banner-left-info p {
    font-size: .9em;
    margin: 1em 0 0 0;
    color: #cecece;
}

.w3ls-banner-left-info p a {
    font-size: .9em;
    margin: 1em 0 0 0;
    color: #cecece;
    text-decoration: none;
}

.w3ls-banner-left-info p a:hover {
    color: #ec1944;
}

.w3ls-banner-left-info:nth-child(5) {
    border: none;
}

.banner-right-img {
    float: left;
    width: 30%;
}

.banner-right-img img {
    width: 100%;
    border: solid 8px #ffffff;
}

.banner-right-info {
    float: right;
    width: 65%;
}

.banner-right-info h2 {
    color: #FFFFFF;
    font-size: 1.3em;
    font-weight: 600;
    margin: 0;
    line-height: 1.3em;
}

.banner-right-info h4 {
    color: #FFFFFF;
    font-size: 1em;
    margin: 1em 0 0 0;
    line-height: 1.5em;
    font-weight: 900;
    font-family: Comic Sans MS;
}

.banner-right-info span {
    color: white;
    font-size: .9em;
    margin: 1em 0 0 0;
    line-height: 1.8em;
    font-weight: 400;
}

.w3-button {
    margin: 3em 0 0 0;
}

.w3-button-info {
    line-height: inherit !important;
}

.w3-button a {
    padding: .5em 2em;
    color: #ffffff !important;
    text-transform: uppercase;
    background: #ec1944;
    font-weight: 700 !important;
    text-decoration: none !important;
    line-height: initial !important;
    font-size: .9em !important;
    margin: 0 !important;
}

.w3-button a:focus {
    outline: none;
}


/* Sweep To Bottom */

.hvr-sweep-to-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-sweep-to-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #cecece;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-sweep-to-bottom:hover,
.hvr-sweep-to-bottom:focus,
.hvr-sweep-to-bottom:active {
    color: #2f2f2f !important;
}

.hvr-sweep-to-bottom:hover:before,
.hvr-sweep-to-bottom:focus:before,
.hvr-sweep-to-bottom:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.social-grids {
    margin: 2em 0 0 0;
}

.social-info {
    float: left;
    width: 20%;
}

.social-info h4 {
    margin: .2em 0 0 0 !important;
}

.agileinfo-social-grids {
    float: left;
    margin: 0;
}

.agileinfo-social-grids ul {
    padding: 0;
    margin: 0;
}

.agileinfo-social-grids ul li {
    display: inline-block;
    margin: 0 .5em 0 0;
}

.agileinfo-social-grids ul li a {
    color: #FFFFFF;
    text-align: center;
}

.agileinfo-social-grids ul li a i.fa.fa-facebook,
.agileinfo-social-grids ul li a i.fa.fa-github,
.agileinfo-social-grids ul li a i.fa.fa-linkedin,
.agileinfo-social-grids ul li a i.fa.fa-google-plus {
    height: 30px;
    width: 30px;
    border: solid 2px #FFFFFF;
    line-height: 29px;
    background: none;
    color: #FFFFFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.agileinfo-social-grids ul li a i.fa.fa-facebook:hover {
    border: solid 2px #3b5998;
    background: #3b5998;
    color: #FFFFFF;
}

.agileinfo-social-grids ul li a i.fa.fa-github:hover {
    border: solid 2px rgba(27, 31, 35, .5);
    background: rgba(27, 31, 35, .5);
    color: #FFFFFF;
}

.agileinfo-social-grids ul li a i.fa.fa-google-plus:hover {
    border: solid 2px #f26522;
    background: #f26522;
    color: #FFFFFF;
}

.agileinfo-social-grids ul li a i.fa.fa-linkedin:hover {
    border: solid 2px #55acee;
    background: #55acee;
    color: #FFFFFF;
}


/*-- //banner --*/


/*-- about --*/

.about,
.statistics,
.experience,
.feedback,
.projects,
.contact {
    padding: 4em 0;
}

.wthree-about-left h3,
.wthree-about-right h3,
.w3-agileits-statistics-heading h3 {
    color: #2f2f2f;
    font-size: 2em;
    margin: 0 0 1em 0;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.wthree-about-left h4 {
    color: #2f2f2f;
    font-size: 1em;
    font-weight: 600;
    margin: 0;
    line-height: 1.5em;
}

.wthree-about-left p {
    color: #999999;
    font-size: .9em;
    margin: 1em 0 0 0;
    line-height: 1.8em;
}

.wthree-about-left p span {
    display: block;
    margin: 1em 0;
}


/*-- skills --*/

.skills-bar .bar_group__bar.thin::before,
.skills-bar .bar_group__bar.thick::before {
    display: block;
    content: '';
    position: absolute;
    z-index: -1;
}

.skills-bar .bar_group__bar.thin::before {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #E4E4E4;
}

.skills-bar .bar_group__bar.thin {
    width: 0%;
    height: 4px;
    border-radius: 2px;
    background: red;
    margin-bottom: 10px;
    -webkit-transition: width 1s;
    transition: width 1s;
}

.skills-bar .b_label,
.skills-bar .bar_label_min,
.skills-bar .bar_label_max,
.skills-bar .b_tooltip span {
    color: #2f2f2f;
    font-size: .9em;
    font-weight: 600;
}

.skills-bar .bar_label_max {
    position: absolute;
    right: 0;
    margin: 1em 0 0 0;
}

.skills-bar .bar_label_min {
    position: absolute;
    left: 0;
    margin: 1em 0 0 0;
}

.skills-bar .b_tooltip {
    -webkit-transition: all 1s;
    transition: all 1s;
    position: relative;
    float: left;
    left: 100%;
    padding: 4px 10px 7px 10px;
    background-color: rgba(67, 66, 76, 0.81);
    -webkit-transform: translateX(-50%) translateY(-30px);
    -ms-transform: translateX(-50%) translateY(-30px);
    transform: translateX(-50%) translateY(-30px);
    border-radius: 2px;
    line-height: 11px;
}

.skills-bar .b_tooltip span {
    color: white;
}

.skills-bar .b_tooltip--tri {
    width: 0;
    height: 0;
    position: absolute;
    content: '';
    bottom: -5px;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: rgba(67, 66, 76, 0.81) transparent transparent transparent;
}

.skills-bar .bar_group__bar:nth-of-type(1) {
    background: #ec1944;
    z-index: 9990 !important;
}

.skills-bar .bar_group__bar:nth-of-type(2) {
    background: #ec1944;
}

.skills-bar .bar_group__bar:nth-of-type(3) {
    background: #ec1944;
}

.skills-bar .bar_group__bar:nth-of-type(4) {
    background: #ec1944;
}

.skills-bar .bar_group__bar:nth-of-type(5) {
    background: #ec1944;
}

.skills-bar .bar_group__bar:nth-of-type(6) {
    background: #ec1944;
}

.bar_group {
    position: relative;
}


/*-- //skills --*/

.w3-agileits-statistics-heading h3 {
    text-align: center;
    color: black;
}


/*--work--*/

.work {
    background: #000;
}

.work-left {
    text-align: right;
    padding: 3em 5em 0 0;
}

.work-right {
    border-left: 1px solid #999;
    padding: 2.5em 0 2em 6em;
}

.work-info h4 {
    font-size: 1.3em;
    /* background: darkcyan; */
    /* border-top: 2px solid #000; */
    display: inline-block;
    padding: .4em 1.2em;
    color: #0a0a0a;
    position: relative;
}

.work-info h4:before {
    width: 0;
    height: 0;
    position: absolute;
    /*-- w3layouts --*/
    content: '';
    top: 10px;
    right: -14px;
    border-style: solid;
    border-width: 10px 0 10px 17px;
    border-color: transparent transparent transparent #ec1944;
}

.work-info h5 {
    font-size: 1.5em;
    color: #00bdbd;
    margin-bottom: .5em;
    /* border: 1px solid #F7E612; */
    display: inline-block;
    padding: 0 1.2em;
    font-weight: 800;
}

.work-info h5 span.fa {
    font-size: 0.9em;
    color: #ffffff;
    background: #ec1944;
    padding: 1em;
    -webkit-border-radius: 70%;
    -moz-border-radius: 70%;
    border-radius: 70%;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
}

.work-right h5 span.fa {
    margin-right: 3.5em;
    margin-left: -8em;
}

.work-left2 h5 span.fa {
    margin-left: 3em;
    margin-right: -6.4em;
    z-index: 9;
}

.work-right.work-right2 {
    min-height: 210px;
    float: right;
}

.work-right.work-right2 h4:before {
    left: -14px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    /*-- agileits --*/
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

.work-right.work-right2 h4 {
    margin-top: 0.8em;
}

.work-info:hover h5 span.fa {
    color: #fff;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
}

.work-info p {
    color: #777;
    font-size: 15px;
    line-height: 24px;
}

.experience {
    background-color: #E7E7E7;
}

.experience h4.title-w3ls {
    margin-bottom: 20px;
}


/*--//work--*/


/*=====================================
  PORTFOLIO STYLES 
    ===================================*/

#portfolio-sec {
    padding-bottom: 100px;
    padding-top: 50px;
}

#portfolio-sec i {
    margin-right: 5px;
    color: #fff;
    font-size: 20px;
}

#portfolio-sec .col-xs-12.col-sm-4.col-md-3 {
    padding: 0;
}

.portfolio-sec-wrap {
    position: relative;
    cursor: pointer;
}

#portfolio-sec a:hover {
    text-decoration: none;
}

.portfolio-sec-wrap img {
    width: 100%;
    height: 200px;
}

.portfolio-sec-wrap .portfolio-sec-inner {
    top: 0;
    background: transparent;
    opacity: .8;
    width: 100%;
    border-radius: 0;
    margin-bottom: 0;
}

.portfolio-sec-wrap .portfolio-sec-inner h3 {
    margin: 10px 0;
}

.portfolio-sec-wrap .portfolio-sec-inner h3 a {
    font-size: 24px;
    color: #fff;
}

.portfolio-sec-wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 0;
    background-color: rgb(72, 72, 72);
    color: #fff;
    vertical-align: middle;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
    padding: 30px;
}

.portfolio-sec-wrap .overlay .preview {
    bottom: 0;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    border-radius: 0;
    background: transparent;
    text-align: center;
    color: #fff;
}

.portfolio-sec-wrap .overlay .preview:hover {
    color: #ec1944;
}

.portfolio-sec-wrap:hover .overlay {
    opacity: 0.9;
}


/*--project--*/

.project h3 {
    color: #2f2f2f;
    font-size: 2em;
    margin: 0 0 1em 0;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.project {
    padding: 4em 0;
    background: #f6f6f6;
}

.galry-grids {
    padding: 3 px;
}

.galry-grids img {
    width: 100%;
}


/*----- Strip -----*/

.b-link-stripe {
    position: relative;
    display: block;
    vertical-align: top;
    font-weight: 300;
    overflow: hidden;
}

.b-link-stripe .b-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    overflow: hidden;
}

.b-link-stripe .b-line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20%;
    background: rgba(15, 207, 140, 0.9);
    transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    opacity: 0;
    visibility: hidden;
    /* lt-ie9 */
}

img.img-responsive {
    width: 100%;
}


/*------Animation effects------*/

.b-animate-go {
    text-decoration: none;
}

.b-animate {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    visibility: hidden;
}

.b-animate img {
    display: -webkit-inline-box;
}


/* lt-ie9 */

.b-animate-go:hover .b-animate {
    visibility: visible;
}

.b-from-left {
    position: absolute;
    top: 43%;
    left: -100%;
}

.b-animate-go:hover .b-from-left {
    left: 47%;
}

.b-wrapper:hover {
    background: rgba(0, 0, 0, 0.8);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.body-pic-bottom {
    background-color: #B9CFED;
    width: 100%;
    height: 270px;
    position: absolute;
    bottom: -93px;
    z-index: -12;
}


/*-- contact --*/

.contact-form {
    margin: 4em 0 0 0;
}

.styled-input.agile-styled-input-top {
    margin-top: 0;
}

.contact input[type="text"],
.contact textarea {
    font-size: .9em;
    color: #8c8c8c;
    padding: 0.5em 1em;
    border: 0;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
    background: none;
    -webkit-appearance: none;
    outline: none;
}

.contact textarea {
    min-height: 150px;
    resize: none;
}


/*-- input-effect --*/

.styled-input input:focus~label,
.styled-input input:valid~label,
.styled-input textarea:focus~label,
.styled-input textarea:valid~label {
    font-size: .9em;
    color: #333333;
    top: -1.3em;
    -webkit-transition: all 0.125s;
    -moz-transition: all 0.125s;
    -o-transition: all 0.125s;
    -ms-transition: all 0.125s;
    transition: all 0.125s;
}

.styled-input {
    width: 49%;
    margin: 2em 0 1em 1em;
    position: relative;
    float: left;
}

.styled-input:nth-child(1),
.styled-input:nth-child(3) {
    margin-left: 0;
}

.textarea-grid {
    float: none !important;
    width: 100% !important;
    margin-left: 0 !important;
}

.styled-input label {
    color: #8c8c8c;
    padding: 0.5em .9em;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
    font-weight: 400;
    font-size: .9em;
    display: block;
    line-height: 1em;
}

.styled-input input~span,
.styled-input textarea~span {
    display: block;
    width: 0;
    height: 2px;
    background: #333;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.125s;
    -moz-transition: all 0.125s;
    transition: all 0.125s;
}

.styled-input textarea~span {
    bottom: 5px;
}

.styled-input input:focus.styled-input textarea:focus {
    outline: 0;
}

.styled-input input:focus~span,
.styled-input textarea:focus~span {
    width: 100%;
    -webkit-transition: all 0.075s;
    -moz-transition: all 0.075s;
    transition: all 0.075s;
}


/*-- //input-effect --*/

.contact input[type="submit"] {
    outline: none;
    color: #FFFFFF;
    padding: .5em 3em;
    font-size: .9em;
    font-weight: 600;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    background: #ec1944;
    border: 2px solid #ec1944;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.contact input[type="submit"]:hover {
    background-color: transparent;
    color: #333333;
    background: none;
    border: 2px solid #333333;
}


/*-- //contact --*/


/*-- footer --*/

.agileits-w3layouts-footer {
    padding: 1em 0;
    text-align: center;
    background: #0f1215;
}

.agileits-w3layouts-footer p {
    color: #FFFFFF;
    margin: 0;
    font-size: .9em;
}

.agileits-w3layouts-footer p a {
    color: #FFFFFF;
    text-decoration: none;
}

.agileits-w3layouts-footer p a:hover {
    color: #ec1944;
}


/*-- to-top --*/

.to-top {
    bottom: 10px;
    right: 20px;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    display: none;
    position: fixed;
}

.to-top:hover {
    background-color: #d7d7d7;
    color: #000;
    cursor: pointer;
}


/*-- //to-top --*/


/*-- //footer --*/


/*-- responsive --*/

@media(max-width:1440px) {
    #m_nav_menu {
        right: 140px !important;
    }

    .nav-tabs {
        width: 38%;
    }
}

@media(max-width:1366px) {
    #m_nav_menu {
        right: 105px !important;
    }

    .experience {
        padding: 80px 0px;
    }
}

@media(max-width:1280px) {
    #m_nav_menu {
        right: 61px !important;
    }

    .nav-tabs {
        width: 43%;
    }
}

@media(max-width:1080px) {
    .nav-tabs {
        width: 51%;
    }

    .m_nav_item a {
        font-weight: 600 !important;
    }

    #m_nav_container {
        text-align: center !important;
        box-shadow: 0 0 2px #000 !important;
    }

    #m_nav_list {
        margin: 0.5em 0 0 0 !important;
    }

    .nav-tabs {
        margin: 1em auto;
    }

    .work-info h4 {
        font-size: 1.2em;
    }

    .work-left {
        padding: 1.5em 5em 0 0;
    }

    .work-right {
        padding: 1em 0 2em 6em;
    }

    .work-info h4 {
        font-size: 1.1em;
        padding: .58em 1.2em;
    }

    .work-info p {
        padding: 10px;
    }

    .work-info h5 {
        font-size: 1.2em;
        padding: 0 1em;
    }

    .work-info h4:before {
        right: -12px;
        border-width: 9px 0 9px 14px;
    }

    .work-right.work-right2 h4:before {
        left: -12px;
    }
}


/* TESTIMONIALS STYLES */

#testimonial-main {
    background: url(../images/2.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

#testimonial-main .overlay {
    padding-top: 60px;
    background: rgba(0, 0, 0, 0.80);
    min-height: 400px;
}

#testimonial-main h4 {
    line-height: 40px;
}

#testimonial-main i {
    padding: 5px;
}

#testimonial-main img {
    border: 3px solid rgb(255, 15, 101);
    margin: 5px;
}

@media(max-width:1024px) {
    #m_nav_menu {
        right: 33px !important;
    }

    .nav-tabs {
        width: 54%;
    }

    .experience {
        padding: 70px 0px;
    }
}

@media(max-width:991px) {
    .w3ls-banner-left {
        width: 35%;
    }

    .w3ls-banner-right {
        width: 65%;
    }

    .banner-right-img {
        float: none;
        width: 35%;
    }

    .banner-right-info {
        float: none;
        width: 100%;
        margin: 1em 0 0 0;
    }

    .w3-button {
        margin: 1em 0 0 0;
    }

    .social-info {
        float: left;
        width: 30%;
    }

    #m_nav_menu {
        right: 120px !important;
    }

    .wthree-about-right {
        margin: 2em 0 0 0;
    }

    .statistics-grid2:before {
        left: -38px;
    }

    .statistics-grid2:after {
        right: -38px;
    }

    .experience-grid {
        border-right: none;
    }

    .experience-grid2 {
        border-bottom: solid 1px #999999 !important;
    }

    .m_nav_item a {
        font-size: 1em !important;
    }

    .feedback-grids {
        width: 100%;
    }

    .feedback-top:after {
        left: 10%;
    }

    .w3_tab_img_left {
        float: left;
        width: 25%;
    }

    .styled-input {
        width: 48%;
    }

    .work-right.work-right2 {
        min-height: 246px;
    }

    .work-left {
        padding: 2.5em 4em 0 0;
        float: left;
        width: 50%;
    }

    .work-right {
        padding: 2em 0 0.5em 5.8em;
        float: right;
        width: 50%;
    }

    .work-info h5 {
        font-size: 1.2em;
        padding: 0 1em;
    }

    .work-left2 h5 span.fa {
        margin-left: 3.4em;
        margin-right: -6.4em;
    }

    .work-right h5 span.fa {
        margin-right: 3.7em;
    }

    .work-info h4:before {
        right: -7px;
        border-width: 7px 0 7px 12px;
        top: 12px;
    }

    .work-right.work-right2 h4:before {
        left: -7px;
    }
}

@media(max-width:800px) {
    #m_nav_menu {
        right: 31px !important;
    }

    .nav-tabs {
        width: 70%;
    }
}

.work-info h5 {
    font-size: 17px;
    padding: 0 0.5em;
}

.work-info h4 {
    font-size: 18px;
}

@media(max-width:736px) {
    #m_nav_menu {
        right: 16px !important;
    }

    .agile-statistics-grid {
        float: left;
        width: 33.33%;
    }

    .nav-tabs {
        width: 71%;
    }

    #m_nav_container {
        height: 230px !important;
    }

    #portfolio-sec {
        padding-bottom: 0px;
    }
}

.work-left {
    padding: 1.5em 4em 0 0;
}

.work-right {
    padding: 1em 0 0.5em 5.8em;
}


}

@media(max-width:667px) {
    .social-info {
        width: 35%;
    }

    .nav-tabs>li {
        margin: 0 4px;
    }

    .w3_tab_img_left {
        width: 50%;
    }
}

@media(max-width:640px) {
    .nav-tabs {
        width: 73%;
    }

    .work-right {
        padding: 1em 0 0.5em 4em;
    }

    .work-info h5 {
        padding-left: 35px;
    }

    .work-left {
        padding: 1.5em 4em 0 0;
    }

    .work-right.work-right2 {
        min-height: 295px;
    }

    .work-right h5 span.fa {
        margin-right: 2.7em;
    }

    .experience {
        padding: 65px 0px;
    }
}

@media(max-width:568px) {
    .social-info {
        width: 40%;
    }

    .agile-statistics-grid p {
        font-size: .9em;
        letter-spacing: 0px;
    }

    .statistics-grid2:before {
        left: -28px;
        width: 32%;
    }

    .statistics-grid2:after {
        right: -28px;
        width: 32%;
    }

    .experience-grid {
        padding: 2em 0;
    }

    .nav-tabs {
        width: 84%;
    }

    .work-info h4 {
        font-size: 18px;
        padding: .599em 1.2em;
        font-weight: 700;
    }

    .work-left {
        padding: 1.35em 4em 0 0;
    }

    .work-info p {
        font-size: 13.5px;
    }

    .work-right.work-right2 {
        min-height: 268px;
    }

    .experience {
        padding: 60px 0px;
    }
}

@media(max-width:480px) {
    .banner-right-img {
        width: 45%;
    }

    .w3ls-banner-left {
        float: none;
        width: 100%;
        margin: 1em 0 0 0;
    }

    .w3ls-banner-right {
        width: 100%;
        float: none;
    }

    .banner-right-img {
        width: 36%;
        margin: 0 auto;
    }

    .w3l-banner-grids {
        margin: 2em 0 0 0;
    }

    .banner {
        padding: 1em 0 2em;
    }

    .about,
    .statistics,
    .experience,
    .feedback,
    .projects,
    .contact {
        padding: 2em 0;
    }

    .about h3 {
        text-align: center;
    }

    .agile-statistics-grid {
        float: none;
        width: 100%;
    }

    .statistics-grid2 {
        position: relative;
        margin: 6em 0;
    }

    .statistics-grid2:before {
        left: 216px;
        width: 2px;
        height: 65px;
        top: -77px;
    }

    .statistics-grid2:after {
        right: 215px;
        width: 2px;
        height: 65px;
        top: 200px;
    }

    .nav-tabs>li>a {
        padding: 5px 8px;
    }

    .work-left {
        float: none;
        width: 100%;
        text-align: left;
        padding: 1.35em 0em 0 0px;
    }

    .work-right {
        float: none;
        width: 100%;
        border-left: none;
        padding: 1em 0 0em 0em;
    }

    .work-right h5 span.fa {
        margin-right: 1.3em;
        margin-left: 0em;
    }

    .work-left2 h5 span.fa {
        margin-left: 1.4em;
    }

    .work-info h5 {
        padding-left: 20px;
    }

    .work-right.work-right2 {
        min-height: 0;
    }

    .work-info li {
        line-height: 30px;
        padding: 20px;
    }

    .work-info h4 {
        padding: 20px;
    }

    .work-right.work-right2 h4:before {
        left: 4px;
    }

    .work-info h4:before {
        display: none;
    }

    .banner-right-info h2 {
        font-size: 1.0em;
    }
}

@media(max-width:414px) {

    .wthree-about-left h3,
    .wthree-about-right h3,
    .w3-agileits-statistics-heading h3 {
        font-size: 1.5em;
    }

    .agile-statistics-grids {
        margin: 2em 0 0 0;
    }

    .statistics-grid2:before {
        left: 183px;
    }

    .statistics-grid2:after {
        right: 183px;
    }

    .w3-agile-experience-grids {
        margin: 0em 0 0 0;
    }

    .experience-grid {
        padding: 1em 0;
    }

    .nav-tabs {
        width: 95%;
    }

    .nav-tabs {
        margin: 1em auto 0;
    }

    .map-grid iframe {
        height: 200px;
    }

    .styled-input {
        width: 100%;
    }

    .styled-input {
        margin: 1em 0em;
    }

    .styled-input.agile-styled-input-top {
        margin-top: 1em;
    }

    .m_nav_ham {
        width: 25px !important;
        height: 2px !important;
    }

    .m_nav_ham_2_open {
        margin-top: -7px !important;
    }

    .m_nav_ham_1_open {
        margin-top: 11px !important;
    }
}

@media(max-width:384px) {
    .statistics-grid2:before {
        left: 170px;
    }

    .statistics-grid2:after {
        right: 170px;
    }

    .nav-tabs>li>a {
        font-size: .87em;
    }

    .contact-form {
        margin: 2em 0 0 0;
    }

    .work-info p {
        font-size: 13px;
    }

    .work-info p {
        line-height: 28px;
    }

    .work-info h4 {
        font-size: 15px;
    }
}

@media(max-width:375px) {
    .statistics-grid2:before {
        left: 162px;
    }

    .nav-tabs>li {
        margin: 3px 4px;
    }

    .w3_tab_img_left {
        width: 100%;
        margin: 1em 0 0 0;
    }

    .work-info h5 {
        font-size: 16.5px;
    }
}

@media(max-width:320px) {
    .agile-logo {
        width: 40%;
    }

    .agile-logo h1 a {
        font-size: .3em;
    }

    .agile-logo h1 a span {
        font-size: 2.3em !important;
    }

    .banner-right-img {
        width: 60%;
    }

    .w3ls-banner-right {
        padding: 0;
    }

    .social-info {
        width: 100%;
        float: none;
        margin-bottom: 1em;
    }

    .agileinfo-social-grids {
        float: none;
        margin: 0;
        width: 100%;
    }

    .w3ls-banner-left {
        padding: 0;
    }

    .agile-statistics-grid i.fa.fa-desktop,
    .agile-statistics-grid i.fa.fa-user,
    .agile-statistics-grid i.fa.fa-trophy {
        width: 80px;
        height: 80px;
        padding: 1.2em 0 0 0;
    }

    .statistics-grid2:before {
        left: 135px;
    }

    .statistics-grid2:after {
        right: 135px;
        top: 181px;
    }

    .experience-grid-icon i.fa.fa-folder-open,
    .experience-grid-icon i.fa.fa-bell,
    .experience-grid-icon i.fa.fa-comments,
    .experience-grid-icon i.fa.fa-asterisk {
        width: 80px;
        height: 80px;
        padding: .7em 0 0 0;
    }

    .work-info h5 {
        font-size: 16px;
    }

    .work-info h4 {
        font-size: 14.5px;
    }

    .work-info h4:before {
        border-width: 7px 0 7px 11px;
    }

    .experience {
        padding: 50px 0px;
    }
}

/*-- //responsive --*/